

/* 设置 LoginDialog 和 RegistDialog 的背景颜色为白色 */
#LoginDialog, #RegistDialog {
    background-color: rgb(255, 255, 255);  /* 纯白色背景 */
}

/* 设置 user_Label 和 pass_Label 的文字颜色为黑色 */
#user_Label, #pass_Label {
    color: black;  /* 黑色字体 */
}

/* 设置 err_tip 在 normal 状态下的样式 */
#err_tip[state='normal'] {
    color: green;  /* 正常状态下，错误提示文字为绿色 */
}

/* 设置 err_tip 在 err 状态下的样式 */
#err_tip[state='err'] {
    color: red;  /* 错误状态下，错误提示文字为红色 */
}

#pass_visible[state='unvisible']{
   border-image: url(:/res/unvisible.png);
}
#pass_visible[state='unvisible_hover']{
   border-image: url(:/res/unvisible_hover.png);
}
#pass_visible[state='visible']{
   border-image: url(:/res/visible.png);
}
#pass_visible[state='visible_hover']{
   border-image: url(:/res/visible_hover.png);
}
#confirm_visible[state='unvisible']{
   border-image: url(:/res/unvisible.png);
}
#confirm_visible[state='unvisible_hover']{
   border-image: url(:/res/unvisible_hover.png);
}
#confirm_visible[state='visible']{
   border-image: url(:/res/visible.png);
}
#confirm_visible[state='visible_hover']{
   border-image: url(:/res/visible_hover.png);
}

#forget_label[state='normal'],#forget_label[state='selected']{
    color:black;
}
#forget_label[state='hover'], #forget_label[state='selected_hover']{
    color: rgb(42,112,241);
}
